<h4>Daftar Tulisan</h4>

<%= link_to "Tulisa Artikel", new_post_url %>

<nav>
<%= will_paginate %>
</nav>
<ul class="posts">
	<% @posts.each do |post| %>
	<h5>
		<div class="title">
			<%= link_to post.title, post %>
		</div>
		<em>
			<small>
				<%= post.created_at.to_formatted_s(:long) %>
			</small>
		</em>
	</h5>

	<div class="body">
		<%= post.body %>
	</div>
	<% end %>
</ul>
<nav>
<%= will_paginate %>
</nav>