<h1>Add New</h1>
<div id='errorMessage'>
	<p></p>
</div>

<%= form_for :customer, url: customers_path do |f| %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :address %><br />
		<%= f.text_area :address %>
	</p>

	<p>
		<%= f.label :phone %><br />
		<%= f.text_area :phone %>
	</p>

	<%= f.submit %>

<% end %>