<<<<<<< HEAD
<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
	<title>Blogku</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navigation' %>

	<div class="container">
		<div class="content">
			<%= yield %>
=======
<!DOCTYPE html>
<html>
<head>
  <title>Blogku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/navigation' %>

	<div id="main-container" class="container">
		<div class="row">
			<div class="col-xs-12">
				<% flash.each do |name, msg| -%>
					<%= content_tag :div, msg, class: "alert alert-#{name}" %>
				<% end -%>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<h3>Yanun App</h3>
			</div>
			<div class="col-xs-9">
				<%= yield %>
			</div>
>>>>>>> 38396a90dc3d58d5a9776e8678d948406393b43a
		</div>
	</div>
</body>
</html>
